Repository fullstack-dev-hub/postdm, pull requests merged in 2025-04, with the labels that each got.

#36 [Feat] 백엔드 GitHub actions CI/CD 및 Docker 설정 & 프론트엔드 Vercel 배포
  .github/workflows/backend.yml
  .github/workflows/sonar.yml
  .gitignore
  backend/.dockerignore
  backend/Dockerfile
  backend/build.gradle
  backend/src/main/resources/application.yml
  docker-compose.yml
Labels: enhancement, devops, cloud

#52 [feat] 로그아웃 API 연동
  frontend/src/app/signup/page.tsx
  frontend/src/components/Header.tsx
Labels: enhancement, frontend

#54 [Feat] 견적서 상세 조회 API 구현 및 견적서 테스트 코드 수정
  backend/src/main/java/com/postdm/backend/domain/estimate/controller/EstimateController.java
  backend/src/main/java/com/postdm/backend/domain/estimate/service/EstimateService.java
  backend/src/main/java/com/postdm/backend/global/common/response/ErrorCode.java
  backend/src/test/java/com/postdm/backend/domain/estimate/controller/EstimateControllerTest.java
  backend/src/test/java/com/postdm/backend/domain/estimate/service/EstimateServiceTest.java
Labels: enhancement, backend

#58 [Fix] Refresh Token 만료 기간 버그 수정 완료
  backend/src/main/java/com/postdm/backend/domain/auth/application/AuthService.java
Labels: backend
