Repository fullstack-dev-hub/postdm, pull requests merged in 2025-02, with the labels that each got.

#2 feat: 백엔드 초기 개발환경 구축
  backend/.gitattributes
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/postdm/backend/BackendApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/postdm/backend/BackendApplicationTests.java
Labels: enhancement, backend

#5 [feat] 백엔드 개발환경 추가 구축
  backend/.gitignore
  backend/build.gradle
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: enhancement, backend

#10 [feat] 프론트엔드 초기 세팅
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/images/file.svg
  frontend/public/images/globe.svg
  frontend/public/images/next.svg
  frontend/public/images/vercel.svg
  frontend/public/images/window.svg
  frontend/src/app/layout.tsx
  frontend/src/app/page.module.css
  frontend/src/app/page.tsx
  frontend/src/components/.gitkeep
  frontend/src/constants/.gitkeep
  frontend/src/data/.gitkeep
  frontend/src/hooks/.gitkeep
  frontend/src/lib/.gitkeep
  frontend/src/stores/.gitkeep
  frontend/src/styles/.gitkeep
  frontend/src/styles/globals.css
  frontend/src/types/.gitkeep
  frontend/src/utils/.gitkeep
  frontend/tailwind.config.js
  frontend/tsconfig.json
Labels: frontend

#12 [feat] 회원가입 및 로그인 기능 구현
  .DS_Store
  backend/build.gradle
  backend/src/main/java/com/postdm/backend/domain/auth/api/AuthController.java
  backend/src/main/java/com/postdm/backend/domain/auth/api/TestController.java
  backend/src/main/java/com/postdm/backend/domain/auth/application/AuthService.java
  backend/src/main/java/com/postdm/backend/domain/auth/dto/IdCheckRequestDto.java
  backend/src/main/java/com/postdm/backend/domain/auth/dto/SignInRequestDto.java
  backend/src/main/java/com/postdm/backend/domain/auth/dto/SignUpRequestDto.java
  backend/src/main/java/com/postdm/backend/domain/email/api/EmailController.java
  backend/src/main/java/com/postdm/backend/domain/email/application/CertificationNumber.java
  backend/src/main/java/com/postdm/backend/domain/email/application/EmailProvider.java
  backend/src/main/java/com/postdm/backend/domain/email/application/EmailService.java
  backend/src/main/java/com/postdm/backend/domain/email/domain/entity/CertificationEntity.java
  backend/src/main/java/com/postdm/backend/domain/email/domain/repository/CertificationRepository.java
  backend/src/main/java/com/postdm/backend/domain/email/dto/EmailCertificationRequestDto.java
  backend/src/main/java/com/postdm/backend/domain/member/domain/entity/Member.java
  backend/src/main/java/com/postdm/backend/domain/member/domain/entity/MemberRole.java
  backend/src/main/java/com/postdm/backend/domain/member/domain/repository/MemberRepository.java
  backend/src/main/java/com/postdm/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/postdm/backend/global/jwt/dto/TokenInfo.java
  backend/src/main/java/com/postdm/backend/global/jwt/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/postdm/backend/global/jwt/util/JwtProvider.java
  backend/src/main/java/com/postdm/backend/global/template/ResponseTemplate.java
Labels: backend

#8 [feat] SonarCloud Backend 분석 설정
  .github/workflows/sonar.yml
  .gitignore
  backend/build.gradle
  backend/src/main/resources/application.yml
  backend/src/test/java/com/postdm/backend/BackendApplicationTests.java
Labels: devops

#15 [Hotfix] SonarCloud 설정 수정
  .github/workflows/sonar.yml
  backend/src/main/java/com/postdm/backend/domain/member/domain/repository/MemberRepository.java
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/com/postdm/backend/BackendApplicationTests.java
Labels: bug, devops

#18 [feat] 백엔드 Swagger 적용
  backend/build.gradle
  backend/src/main/java/com/postdm/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/postdm/backend/global/config/SwaggerConfig.java
  backend/src/main/resources/application.yml
Labels: backend

#20 [feat] 로그인 및 아이디찾기/비밀번호찾기 UI 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/find/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/components/find/InputField.tsx
  frontend/src/components/find/PrimaryButton.tsx
  frontend/src/types/components.ts
  frontend/tailwind.config.js
Labels: frontend
