Repository fullstack-dev-hub/postdm, pull requests merged in 2025-03, with the labels that each got.

#21 [feat] 사용자 역할 기반 견적서 조회 및 작성 기능 구현
  .github/workflows/sonar.yml
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/postdm/backend/domain/auth/api/TestController.java
  backend/src/main/java/com/postdm/backend/domain/auth/application/AuthService.java
  backend/src/main/java/com/postdm/backend/domain/auth/dto/SignInRequestDto.java
  backend/src/main/java/com/postdm/backend/domain/estimate/controller/EstimateController.java
  backend/src/main/java/com/postdm/backend/domain/estimate/dto/EstimateRequestDto.java
  backend/src/main/java/com/postdm/backend/domain/estimate/dto/EstimateResponseDto.java
  backend/src/main/java/com/postdm/backend/domain/estimate/entity/Estimate.java
  backend/src/main/java/com/postdm/backend/domain/estimate/entity/EstimateRepository.java
  backend/src/main/java/com/postdm/backend/domain/estimate/service/EstimateService.java
  backend/src/main/java/com/postdm/backend/domain/estimate/service/policy/AdminEstimatePolicy.java
  backend/src/main/java/com/postdm/backend/domain/estimate/service/policy/EstimatePolicy.java
  backend/src/main/java/com/postdm/backend/domain/estimate/service/policy/UserEstimatePolicy.java
  backend/src/main/java/com/postdm/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/postdm/backend/global/jwt/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/postdm/backend/global/jwt/util/JwtProvider.java
  backend/src/test/java/com/postdm/backend/domain/estimate/controller/EstimateControllerTest.java
  backend/src/test/java/com/postdm/backend/domain/estimate/repository/EstimateRepositoryTest.java
  backend/src/test/java/com/postdm/backend/domain/estimate/service/EstimateServiceTest.java
Labels: enhancement, backend

#25 [feat] 회원가입 UI 구현
  frontend/src/app/signup/page.tsx
  frontend/src/components/signup/PrivacyAgreement.tsx
  frontend/src/components/signup/SignupInputField.tsx
  frontend/src/data/terms.ts
Labels: frontend

#32 [Hotfix] 프론트엔드 로컬 CORS 설정 추가
  backend/src/main/java/com/postdm/backend/global/config/SecurityConfig.java
Labels: bug, backend

#38 [Feat] 서버 연결 확인 API 및 헬스 체크 API 설정
  backend/build.gradle
  backend/src/main/java/com/postdm/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/postdm/backend/global/controller/PingController.java
  backend/src/main/resources/application.yml
Labels: enhancement, backend

#39 [Feature] API 공통 응답 구현
  backend/src/main/java/com/postdm/backend/domain/auth/api/AuthController.java
  backend/src/main/java/com/postdm/backend/domain/auth/application/AuthService.java
  backend/src/main/java/com/postdm/backend/domain/auth/dto/IdCheckRequestDto.java
  backend/src/main/java/com/postdm/backend/domain/auth/dto/SignInRequestDto.java
  backend/src/main/java/com/postdm/backend/domain/auth/dto/SignUpRequestDto.java
  backend/src/main/java/com/postdm/backend/domain/email/api/EmailController.java
  backend/src/main/java/com/postdm/backend/domain/email/application/EmailProvider.java
  backend/src/main/java/com/postdm/backend/domain/email/application/EmailService.java
  backend/src/main/java/com/postdm/backend/domain/estimate/controller/EstimateController.java
  backend/src/main/java/com/postdm/backend/domain/estimate/service/EstimateService.java
  backend/src/main/java/com/postdm/backend/domain/member/api/MemberController.java
  backend/src/main/java/com/postdm/backend/domain/member/application/MemberService.java
  backend/src/main/java/com/postdm/backend/domain/member/dto/FindUsernameRequestDto.java
  backend/src/main/java/com/postdm/backend/domain/member/dto/ResetPasswordRequestDto.java
  backend/src/main/java/com/postdm/backend/global/common/exception/CustomException.java
  backend/src/main/java/com/postdm/backend/global/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/postdm/backend/global/common/response/ErrorCode.java
  backend/src/main/java/com/postdm/backend/global/common/response/ErrorResponse.java
  backend/src/main/java/com/postdm/backend/global/jwt/dto/TokenInfo.java
  backend/src/main/java/com/postdm/backend/global/jwt/util/JwtProvider.java
  backend/src/main/java/com/postdm/backend/global/template/ResponseTemplate.java
  backend/src/main/resources/application.yml
Labels: enhancement, backend

#44 npm run build 오류 해결
  .DS_Store
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/estimate/view/[id]/EstimateViewClient.tsx
  frontend/src/app/estimate/view/[id]/page.tsx
  frontend/src/app/find/page.tsx
  frontend/src/components/AboutNavigation.tsx
Labels: bug
